[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.4"
markdown = "==3.3.4"
django-filter = "==2.4.0"
django = "==3.2.6"
django-google-spanner = "==3.0.1"

[dev-packages]
flake8 = "==4.0.1"
autopep8 = "==1.6.0"

[requires]
python_version = "3.9"
